.App {
  text-align: center;
}

.ImageClick {
  cursor: pointer;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1a1f86;
}

.navbar-dark .navbar-nav .nav-link {
  color: #1a1f86;
  font-weight: 500;
}

@media only screen and (max-width: 800px) {
  .logo {
    width: 450px;
  }
}

@media only screen and (max-width: 500px) {
  .logo {
    width: 270px;
  }
}

.infoStrip {
  font-weight: 400;
  align-items: center;
  display: inline;
}

.form-label {
  font-weight: 500;
}

@media (max-width: 600px) {
  .infoStrip {
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .infoStrip {
    font-size: 8px;
  }
}

h2 {
  color: #282c34;
}

.card {
  margin: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
